<!-- <section class="min-h-screen pt-32">
  <h1 class="text-primary text-center text-4xl font-bold md:text-5xl">
    Smart Health Smart People
  </h1>
  <div class="relative mx-auto h-auto w-[80%] overflow-hidden px-20 py-15">
    <div class="relative z-10">
      <div class="mb-2 flex flex-row items-center gap-5">
        <span class="text-primary text-5xl font-black md:text-6xl"
          >SEHATIN</span
        >
        <span
          class="text-text-secondary text-lg leading-tight font-semibold md:text-xl"
          >Sistem Edukasi dan Pemantauan Kesehatan<br class="hidden md:block" />
          Terintegrasi Nasional</span
        >
      </div>
      <p
        class="text-p text-text-primary mt-10 text-justify text-base leading-relaxed md:text-lg"
      >
        SEHATIN merupakan Sistem Edukasi dan Pemantauan Kesehatan Terintegrasi
        Nasional. Sistem ini merupakan inisiatif dari Pemerintah Kota Malang
        untuk mewujudkan kesehatan warga Kota Malang yang lebih terpusat,
        memberikan edukasi yang tepat untuk kesehatan, memudahkan untuk mengurus
        kesehatan, dan mewujudkan Malang sebagai kota Smart City. Sistem ini
        mengintegrasikan berbagai layanan kesehatan dalam satu platform digital
        yang mudah diakses oleh masyarakat. Selain itu, SEHATIN juga mendorong
        kolaborasi antara fasilitas kesehatan, tenaga medis, dan warga dalam
        rangka meningkatkan kualitas pelayanan. Dengan pendekatan yang modern
        dan partisipatif, SEHATIN hadir sebagai solusi inovatif dalam
        menciptakan ekosistem kesehatan yang lebih responsif, efisien, dan
        berkelanjutan di Kota Malang.
      </p>
    </div>
    <div
      class="relative mx-auto mt-10 flex max-w-4xl flex-col items-center justify-center gap-5 font-medium md:flex-row"
    >
      <div
        class="z-10 flex w-full flex-col items-center justify-center gap-10 md:flex-row"
      >
        <div
          class="flex w-[90%] min-w-[180px] flex-row items-center gap-4 rounded-lg px-8 py-6 transition-transform duration-500 ease-out hover:scale-110 md:w-64"
        >
          <i class="fa-solid fa-users text-secondary mb-2 text-5xl"></i>
          <div class="flex flex-col">
            <div class="text-primary text-3xl font-bold">100jt+</div>
            <div class="text-text-primary text-lg">pengguna</div>
          </div>
        </div>
        <div
          class="flex w-[90%] min-w-[180px] flex-row items-center gap-4 rounded-lg px-8 py-6 transition-transform duration-500 ease-out hover:scale-110 md:w-64"
        >
          <i
            class="fa-solid fa-heart-circle-plus text-secondary mb-2 text-5xl"
          ></i>
          <div class="flex flex-col">
            <div class="text-primary text-3xl font-bold">100jt+</div>
            <div class="text-text-primary text-lg">Terobati</div>
          </div>
        </div>
        <div
          class="flex w-[90%] min-w-[180px] flex-row items-center gap-4 rounded-lg px-8 py-6 transition-transform duration-500 ease-out hover:scale-110 md:w-64"
        >
          <i class="fa-solid fa-hospital text-secondary mb-2 text-5xl"></i>
          <div class="flex flex-col">
            <div class="text-primary text-3xl font-bold">50+</div>
            <div class="text-text-primary text-lg">Rumah Sakit</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
