{
  "endOfLine": "lf",
  "plugins": ["prettier-plugin-java", "prettier-plugin-tailwindcss"],
  "singleQuote": false,
  "tabWidth": 2,
  "overrides": [
    {
      "files": "*.java",
      "options": {
        "parser": "java",
        "tabWidth": 4
      }
    }
  ]
}