<span class="flex items-center gap-2 text-sm">
  <a routerLink="/" class="flex items-center gap-2">
    <i class="fa-solid fa-home"></i>
    <h5>Dasbor</h5>
  </a>
  <h5 class="text-gray-500/50">/</h5>
  <ng-container *ngFor="let menu of menus; let last = last; let i = index">
    <ng-container *ngIf="!last">
      <a class="cursor-pointer hover:underline" (click)="onClick(menu)">
        <h5>{{ truncateText(menu) }}</h5>
      </a>
    </ng-container>
    <ng-container *ngIf="last">
      <h5 class="cursor-default">
        {{ menu }}
      </h5>
    </ng-container>
    <h5 class="text-gray-500/50" *ngIf="!last">/</h5>
  </ng-container>
</span>