<section class="py-32 bg-[#f4fbfd] min-h-screen" id="tentang-kami">
  <h1 class="text-4xl md:text-5xl font-bold text-primary text-center">Smart Health Smart People</h1>
  <div class="relative mx-auto w-[80%] h-auto px-20 py-15 overflow-hidden">
    <div class="relative z-10">
      <div class="flex flex-row items-center gap-5 mb-2">
        <span class="text-primary font-black text-5xl md:text-6xl">Sehatin</span>
        <span class="font-semibold text-text-secondary text-lg md:text-xl leading-tight">Sistem Edukasi dan Pemantauan Kesehatan<br class="hidden md:block"/> Terintegrasi Nasional</span>
      </div>
      <p class="text-p text-base md:text-lg text-text-primary leading-relaxed mt-10 text-justify">
        Sehatin merupakan Sistem Edukasi dan Pemantauan Kesehatan Terintegrasi Nasional. Sistem ini merupakan inisiatif dari Pemerintah Kota Malang untuk mewujudkan kesehatan warga Kota Malang yang lebih terpusat, memberikan edukasi yang tepat untuk kesehatan,
        memudahkan untuk mengurus kesehatan, dan mewujudkan Malang sebagai kota Smart City. Sistem ini mengintegrasikan berbagai layanan kesehatan dalam satu platform
        digital yang mudah diakses oleh masyarakat. Selain itu, Sehatin juga mendorong kolaborasi antara fasilitas kesehatan, tenaga medis, dan warga dalam rangka
        meningkatkan kualitas pelayanan. Dengan pendekatan yang modern dan partisipatif, Sehatin hadir sebagai solusi inovatif dalam menciptakan ekosistem kesehatan
        yang lebih responsif, efisien, dan berkelanjutan di Kota Malang.

      </p>
    </div>
    <div class="relative flex flex-col md:flex-row gap-5 justify-center items-center max-w-4xl mx-auto mt-10 font-medium">
      <div class="flex flex-col md:flex-row gap-10 justify-center items-center w-full z-10">
        <div class="flex flex-col items-center rounded-lg px-8 py-6 w-[90%] md:w-64 min-w-[180px] transition-transform duration-500 ease-out hover:scale-110">
          <i class="fa-solid fa-users text-5xl text-secondary mb-2"></i>
          <div class="text-primary font-bold text-3xl">100jt+</div>
          <div class="text-text-primary text-lg">pengguna</div>
        </div>
        <div class="flex flex-col items-center  rounded-lg px-8 py-6 w-[90%] md:w-64 min-w-[180px] transition-transform duration-500 ease-out hover:scale-110">
          <i class="fa-solid fa-heart-circle-plus text-5xl text-secondary mb-2"></i>
          <div class="text-primary font-bold text-3xl">100jt+</div>
          <div class="text-text-primary text-lg">Terobati</div>
        </div>
        <div class="flex flex-col items-center rounded-lg px-8 py-6 w-[90%] md:w-64 min-w-[180px] transition-transform duration-500 ease-out hover:scale-110">
          <i class="fa-solid fa-hospital text-5xl text-secondary mb-2"></i>
          <div class="text-primary font-bold text-3xl">50+</div>
          <div class="text-text-primary text-lg">Rumah Sakit</div>
        </div>
      </div>
    </div>
  </div>

</section>
