<shared-sidebar *ngIf="isSidebarOpen" userType="user" />
<shared-header title="Rekap Kesehatan" />

<!-- prettier-ignore -->
<main [ngClass]="isSidebarOpen ? 'ml-64' : 'ml-4'" class="cursor-default border-b border-gray-100 p-8 transition-all duration-300 ease-in-out">
  <!-- Statistik Pengguna -->
  <section class="mt-24 flex w-auto flex-col rounded-xl bg-white p-6">
    <h4 class="from-primary to-text-primary bg-gradient-to-r bg-clip-text text-xl font-bold text-transparent">
      Statistik
    </h4>
    <article class="mt-4 w-full overflow-x-auto">
      <div class="grid min-w-max grid-cols-1 gap-4 md:grid-cols-4">
        @for (stats of statistics; track $index) {
          <figure
            class="relative w-full cursor-pointer overflow-hidden rounded-xl border bg-white px-6 pt-4 pb-6 transition-all duration-300 ease-in-out lg:hover:bg-[#f5f8fc]"
            [ngStyle]="{ 'border-color': stats.background, 'border-top': '6px solid ' + stats.background }"
          >
            <section class="flex items-center justify-between gap-6 text-sm">
              <h5 class="text-sm font-medium text-[#6b6b6b]">
                {{ stats.title }}
              </h5>
              <span class="flex h-10 w-10 items-center justify-center rounded-full" [ngStyle]="{ 'background-color': stats.background, 'color': stats.color }">
                <i class="{{ stats.icon }}"></i>
              </span>
            </section>
            <h4 class="mt-2 mb-3 text-xl font-bold text-[#4f4f4f]">
              {{ stats.total }}
            </h4>
            <h6 class="text-xs text-[#6b6b6b]">{{ stats.info }}</h6>
          </figure>
        }
      </div>
    </article>
    <!-- Akhir dari Statistik Pengguna -->
    <!-- Info -->
    <figure class="mt-8 flex w-full flex-col items-start rounded-lg border border-l-6 border-blue-200 bg-blue-50 p-4 pl-6 text-sm text-blue-800 shadow-sm">
      <span class="flex items-center gap-3">
        <i class="fa-solid fa-circle-info mt-0.75 text-lg text-blue-500"></i>
        <h5 class="text-lg font-semibold text-blue-600">
          Kenapa Perlu Rekap Kesehatan?
        </h5>
      </span>
      <h5 class="mt-2.5 text-sm leading-7 font-normal text-blue-800">
        Mulai hari ini dengan mencatat kondisi kesehatan Anda untuk hidup lebih
        sehat. Dengan rekap rutin, Anda bisa memantau perubahan kondisi tubuh
        dan mengambil langkah lebih tepat ke depannya.
      </h5>
      <span class="mt-5 ml-auto flex gap-2 text-xs font-medium">
        <a routerLink="/pengguna/rekap-kesehatan/tambah" class="rounded-md bg-blue-500 px-5 py-2.5 text-white transition hover:bg-blue-600">
          Isi Sekarang
        </a>
        <a routerLink="/pengguna/rekap-kesehatan/lihat-panduan" class="rounded-md border border-blue-400 px-5 py-2.5 text-blue-500 transition hover:bg-blue-100">
          Lihat Panduan
        </a>
      </span>
    </figure>
    <!-- Akhir dari Info -->
    <h4 class="from-primary to-text-primary mt-8 mb-4 bg-gradient-to-r bg-clip-text text-xl font-bold text-transparent">
      Riwayat Pengisian
    </h4>
    <!-- Tabel Riwayat Pengisian -->
    <shared-table
      [headers]="['Tanggal', 'Berat', 'Tekanan', 'Gula', 'Keterangan']"
      [rows]="[]"
      [sortable]="['Tanggal']"
    />
    <!-- Akhir dari Tabel Riwayat Pengisian -->
  </section>
</main>