<!-- 
  [DOCS]:
  Ini merupakan komponen tabel yang bisa dipakai secara terus menerus dan sudah
  mendukung fitur pengurutan. Cara menggunakannya adalah sebagai berikut:
  <shared-table
    [headers]=['No', 'Nama Lengkap', 'Alamat'] <= nama kolom tabel
    [rows]=['1', 'John Doe', 'Jl. Raya No. 1'] <= isi dari setiap baris tabel
    [sortable]=['Nama Lengkap']                <= kolom mana saja yang bisa diurutkan
  />
-->

<section class="border-primary relative mb-6 w-full overflow-x-auto rounded-lg border">
  <table class="w-full min-w-max table-auto border-collapse cursor-default">
    <thead class="bg-primary text-white">
      <tr>
        <th *ngFor="let header of headers; let i = index" class="w-1/{{ headers.length }} px-6 py-4 text-right font-medium tracking-wider">
          <div *ngIf="isSortable(header); else noSort" (click)="sortByColumn(i)" class="flex cursor-pointer items-center justify-center space-x-2 text-xs font-medium whitespace-nowrap">
            <h5>{{ header }}</h5>
            <i
              class="fa-solid"
              [ngClass]="{
                'fa-sort': sortState.index !== i,
                'fa-sort-up': sortState.index === i && sortState.asc,
                'fa-sort-down': sortState.index === i && !sortState.asc
              }"
            ></i>
          </div>
          <ng-template #noSort>
            <div class="flex items-center justify-center space-x-2 text-xs font-medium whitespace-nowrap">
              <h5>{{ header }}</h5>
            </div>
          </ng-template>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="rows.length === 0">
        <td [attr.colspan]="headers.length" class="py-12 text-center text-gray-500">
          <section class="flex flex-col items-center justify-center gap-2">
            <i class="fa-solid fa-exclamation-triangle text-4xl text-yellow-400"></i>
            <h5 class="text-sm font-semibold text-slate-800">
              Tidak ada data, yuk isi rekap harianmu dulu!
            </h5>
          </section>
        </td>
      </tr>
      <tr *ngFor="let row of rows" class="border-t border-[var(--stroke)] text-sm text-[var(--primary-text)] transition-all duration-200">
        <td *ngFor="let cell of row" class="px-6 py-3 whitespace-nowrap">
          <section class="flex cursor-default space-x-3 text-[10pt]" [innerHTML]="cell"></section>
        </td>
      </tr>
    </tbody>
  </table>
</section>