<shared-sidebar *ngIf="isSidebarOpen" userType="user" />
<shared-header title="Tambah Rekap Kesehatan" />

<main [ngClass]="isSidebarOpen ? 'ml-64' : 'ml-4'" class="cursor-default border-b border-gray-100 p-8 transition-all duration-300 ease-in-out">
  <section class="mt-20 flex w-auto flex-col rounded-xl bg-white p-6">
    <shared-breadcrumb [menus]="['Rekap Kesehatan', 'Tambah Rekap Kesehatan']" />
    <mat-tab-group class="mt-4 text-sm">
      <mat-tab label="Profil">
        <form action="">
          <!-- Add something here. -->
        </form>
      </mat-tab>
      <mat-tab label="Makanan">
        <form action="">
          <!-- Add something here. -->
        </form>
      </mat-tab>
      <mat-tab label="Penyakit">
        <form action="">
          <!-- Add something here. -->
        </form>
      </mat-tab>
      <mat-tab label="Alergi">
        <form action="">
          <!-- Add something here. -->
        </form>
      </mat-tab>
      <mat-tab label="Gaya Hidup">
        <form action="">
          <!-- Add something here. -->
        </form>
      </mat-tab>
    </mat-tab-group>
  </section>
</main>