<shared-sidebar *ngIf="isSidebarOpen" userType="user" />
<shared-header title="Tambah Rekap Kesehatan" />

<main [ngClass]="isSidebarOpen ? 'ml-64' : ''" class="cursor-default border-b border-gray-100 p-8 transition-all duration-300 ease-in-out">
  <section class="mt-20 flex w-auto flex-col rounded-xl bg-white p-6">
    <shared-breadcrumb [menus]="['Rekap Kesehatan', 'Tambah Rekap Kesehatan']" />
    <form (ngSubmit)="submitData()" method="POST">
      <mat-tab-group class="relative mt-6 text-sm">
        <mat-tab label="Profil">
          <div class="mt-10 grid grid-cols-1 gap-10 overflow-hidden pb-41 lg:grid-cols-2">
            <form-input
              icon="fa-solid fa-user"
              label="Usia"
              name="usia"
              placeholder="Cth. 30"
              type="number"
              variant="form"
              [(ngModel)]="usia"
              [required]="true"
            />
            <form-select
              label="Jenis Kelamin"
              name="jenis_kelamin"
              variant="form"
              [options]="genderOptions"
              [(ngModel)]="jenis_kelamin"
              [required]="true"
            />
            <form-input
              icon="fa-solid fa-weight-scale"
              label="Berat Badan"
              name="berat_badan"
              placeholder="Cth. 60 (Gunakan Bilangan Bulat)"
              type="number"
              variant="form"
              [(ngModel)]="berat_badan"
              [required]="true"
            />
            <form-input
              icon="fa-solid fa-ruler-vertical"
              label="Tinggi Badan"
              name="tinggi_badan"
              placeholder="Cth. 170 (Gunakan Bilangan Bulat)"
              type="number"
              variant="form"
              [(ngModel)]="tinggi_badan"
              [required]="true"
            />
            <form-select
              icon="fa-solid fa-dumbbell"
              label="Tingkat Aktivitas Fisik"
              name="tingkat_aktivitas_fisik"
              variant="form"
              [options]="activityLevelOptions"
              [(ngModel)]="tingkat_aktivitas_fisik"
              [required]="true"
            />
            <form-select
              label="Tujuan Kesehatan"
              name="tujuan_kesehatan"
              variant="form"
              [options]="healthGoal"
              [(ngModel)]="tujuan_kesehatan"
              [required]="true"
            />
          </div>
        </mat-tab>
        <mat-tab label="Makanan">
          <div class="mt-10 grid grid-cols-1 gap-10 overflow-hidden lg:grid-cols-3">
            <form-select
              label="Jenis Makanan"
              name="jenis_makanan"
              variant="form"
              [options]="[
                { label: 'Makanan Sehat', value: 'makanan_sehat' }
              ]"
              [(ngModel)]="jenis_makanan"
              [required]="true"
            />
            <form-select
              label="Jumlah/Porsi"
              name="jumlah"
              variant="form"
              [options]="[
                { label: 'Gram', value: 'gram' },
                { label: 'Porsi', value: 'porsi' },
                { label: 'Sendok', value: 'sendok' },
              ]"
              [(ngModel)]="jumlah"
              [required]="true"
            />
            <form-select
              label="Frekuensi Konsumsi"
              name="jumlah"
              variant="form"
              [options]="[
                { label: 'Sarapan', value: 'sarapan' },
                { label: 'Makan Siang', value: 'makan_siang' },
                { label: 'Makan Malam', value: 'makan_malam' },
              ]"
              [(ngModel)]="frekuensi_konsumsi"
              [required]="true"
            />
            <shared-table
              class="lg:col-span-3"
              [headers]="['Tanggal', 'Berat', 'Tekanan', 'Gula', 'Keterangan']"
              [rows]="[]"
              [sortable]="['Tanggal']"
            />
          </div>
        </mat-tab>
        <mat-tab label="Penyakit">
          <div class="mt-10 grid grid-cols-1 gap-10 overflow-hidden pb-41 lg:grid-cols-2">
            <form-select
              label="Kondisi Kesehatan"
              name="kondisi_kesehatan"
              variant="form"
              [options]="listOfDiseases"
              [(ngModel)]="kondisi_kesehatan"
              [required]="true"
            />
            <form-input
              icon="fa-solid fa-calendar-days"
              label="Tanggal Diagnosis"
              name="tanggal_diagnosis"
              placeholder="Cth. 01/01/2023"
              type="date"
              variant="form"
              [(ngModel)]="tanggal_diagnosis"
              [required]="true"
            />
            <form-select
              label="Pengobatan Saat Ini"
              name="pengobatan_saat_ini"
              variant="form"
              [options]="[
                { label: 'Insulin', value: 'insulin' },
                { label: 'Diet', value: 'diet' },
                { label: 'Obat', value: 'obat' },
              ]"
              [(ngModel)]="pengobatan_saat_ini"
              [required]="true"
            />
            <form-select
              label="Kondisi Khusus"
              name="kondisi_khusus"
              variant="form"
              [options]="[
                { label: 'Kehamilan', value: 'kehamilan' },
                { label: 'Menyusui', value: 'menyusui' },
                { label: 'Pascaoperasi', value: 'pascaoperasi' },
              ]"
              [(ngModel)]="kondisi_khusus"
              [required]="true"
            />
          </div>
        </mat-tab>
        <mat-tab label="Alergi">
          <div class="mt-10 grid grid-cols-1 gap-10 overflow-hidden lg:grid-cols-3">
            <form-select
              label="Jenis Alergi"
              name="jenis_alergi"
              variant="form"
              [options]="kindOfAllergies"
              [(ngModel)]="jenis_alergi"
              [required]="true"
            />
            <form-select
              label="Tingkat Keparahan"
              name="tingkat_keparahan"
              variant="form"
              [options]="severityOfAllergies"
              [(ngModel)]="tingkat_keparahan"
              [required]="true"
            />
            <form-textarea
              label="Riwayat Reaksi Alergi"
              name="riwayat_reaksi_alergi"
              placeholder="Ceritakan kapan dan bagaimana reaksi alergi terjadi ..."
              [(ngModel)]="riwayat_reaksi_alergi"
            />
            <shared-table
              class="lg:col-span-3"
              [headers]="['Tanggal', 'Jenis Alergi', 'Tingkat Keparahan', 'Riwayat Reaksi Alergi']"
              [rows]="[]"
              [sortable]="['Tanggal']"
            />
          </div>
        </mat-tab>
        <mat-tab label="Gaya Hidup">
          <div class="mt-10 grid grid-cols-1 gap-10 overflow-hidden lg:grid-cols-2">
            <form-select
              label="Kebiasaan Olah Raga"
              name="kebiasaan_olah_raga"
              variant="form"
              [options]="[]"
              [(ngModel)]="kebiasaan_olah_raga"
              [required]="true"
            />
            <form-input
              icon="fa-solid fa-clock"
              label="Pola Tidur"
              name="pola_tidur"
              placeholder="Cth. 1 jam"
              type="text"
              variant="form"
              [(ngModel)]="pola_tidur"
              [required]="true"
            />
            <form-checkbox
              [(ngModel)]="kebiasaan_lain"
              [ngModelOptions]="{ standalone: true }"
              [label]="'Kebiasaan Lain'"
              [options]="['Merokok', 'Minum Alkohol', 'Kurang Tidur']"
              [required]="true"
            />
            <shared-table
              class="lg:col-span-2"
              [headers]="['Tanggal', 'Kebiasaan Olah Raga', 'Pola Tidur', 'Kebiasaan Lain']"
              [rows]="[]"
              [sortable]="['Tanggal']"
            />
          </div>
        </mat-tab>
      </mat-tab-group>
      <div class="flex items-center justify-end">
        <button type="submit" class="bg-primary hover:bg-primary/80 mt-6 w-fit cursor-pointer self-end rounded-lg px-6 py-3 text-sm font-semibold text-white transition-colors duration-300">
          <i class="fa-solid fa-plus mr-3"></i> Tambah Rekap Kesehatan
        </button>
      </div>
    </form>
  </section>
</main>