<fieldset class="flex w-full flex-col justify-between space-y-4">
  <h5 class="font-medium">
    {{ label }}
    <span *ngIf="required" class="text-red-500">*</span>
  </h5>
  <div class="flex items-center space-x-6">
    <ng-container *ngFor="let option of options">
      <span class="inline-flex cursor-pointer items-center">
        <input
          type="radio"
          [id]="name + '_' + option.value"
          [name]="name"
          [value]="option.value"
          class="h-4 w-4 text-indigo-600 transition duration-150 ease-in-out"
          [(ngModel)]="model"
          [required]="required"
        />
        <label [for]="name + '_' + option.value" class="ml-2 cursor-pointer">
          {{ option.label }}
        </label>
      </span>
    </ng-container>
  </div>
</fieldset>